@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?ly34e0');
    src:  url('../fonts/icomoon.eot?ly34e0#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ly34e0') format('truetype'),
    url('../fonts/icomoon.woff?ly34e0') format('woff'),
    url('../fonts/icomoon.svg?ly34e0#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
